{#heriter du theme de base#}

{% extends 'base.html.twig' %}
{#mais si je veux heriter il faut le placer dans un bloc#}
{% block body %}
<h1> Bienvenue</h1>

<h1 > Sur ce site vous trouvez mes informations personnelles ainsi que mes realisations !! &#128540; </h1>

{% endblock %}
