{% extends 'base.html.twig'%}
{% block title %}
{% endblock %}
{% block body %}
<head>

</head>
<div class="page">
     <div class="infophoto">
          <div class= "info">
          <p><strong> BEN AHMED Tassadit</strong> </br>Née le 17 Octobre 1994</p>
          <p> 64 Avenue de lodeve ,34070 Montpellier<br/>
          tassadit.benahmed@yahoo.fr</p>
       <p>Permis B (permis voiture)</p>
       </div>
                <div class= "photo">
               {# <img src="photo.jpg" alt= "tassadit"/>#}

       </div>
      </div>
       <div class= "section">
            <h2>formation</h2>
            <div class= "sec-gauche" id="forma-gauche">
           <p> 2019 </p>
           <p> 2018 <br/></p>
           <p> 2017 <br/></p>
           <p> 2016 <br/></p>

           </div>
            <div class ="sec-droite">
             <p><span class= "titre"> Faculté des Sciences Université de Montpellier</span><br/> Master II Inforormatique</p>
             <p><span class= "titre"> Faculté des Sciences Université de Montpellier </span><br/>Licence en Microbiologie</p>
             <p><span class= "titre"> Université de Mouloud Mammeri de Tizi-Ouzou,Algerie</span><br/>Licence en Microbiologie</p>
             <p><span class= "titre"> Lycee Ait Yahia,Algerie </span><br/> Bacalaureat Serie Sciences Experimentales</p>

       </div>
      </div>
        <div class= "section">
                  <h2>Experiences Professionnelles</h2>
                  <div class= "sec-gauche" id="forma-gauche">
                 <p> 2019 </p>
                 <p> 2019 <br/></p>
                 <p> 2019  <br/></p>
                 <p> 2019 <br/></p>

                 </div>
                  <div class ="sec-droite">
                   <div class= "lien"><a href="https://gitlab.com/19941993/monprojetspringmvc" class="btn btn-primary type ="submit"> gitLab </a></div>
                   <p><span class= "titre"> Projet site de présentation </span><br/> Avec le framework php :symfonie,Doctrine,Twig</p>
                   <div class= "lien"><a href="https://gitlab.com/19941993/monprojetspringmvc" class="btn btn-primary type ="submit"> gitLab </a></div>
                   <p><span class= "titre"> Gestion de Monuments </span><br/> Java ee avec son framework Spring, le moteur de template thymeleef,hibernate</p>
                   <div class= "lien"><a href="https://gitlab.com/19941993/monprojetspringmvc" class="btn btn-primary type ="submit"> gitLab </a></div>
                   <p><span class= "titre"> Fouille de Données (data maining avec weka)</span><br/>pretraitements avec des programmes python et java puis Wika</p>
                   <div class= "lien"><a href="https://gitlab.com/19941993/monprojetspringmvc" class="btn btn-primary type ="submit"> gitLab </a></div>
                   <p><span class= "titre"> Site Ecommerce Architecture MEAN </span><br/> Anguar,Node Js,MongoDB</p>

             </div>
            </div>
             <div class= "section">
                        <h2>formation</h2>
                        <div class= "sec-gauche" id="forma-gauche">
                       <p> 2019 </p>
                       <p> 2018 <br/></p>
                       <p> 2017 <br/></p>
                       <p> 2016 <br/></p>

                       </div>
                        <div class ="sec-droite">
                         <p><span class= "titre"> Faculté des Sciences Université de Montpellier</span><br/> Master II Inforormatique</p>
                         <p><span class= "titre"> Faculté des Sciences Université de Montpellier </span><br/>Licence en Microbiologie</p>
                         <p><span class= "titre"> Université de Mouloud Mammeri de Tizi-Ouzou,Algerie</span><br/>Licence en Microbiologie</p>
                         <p><span class= "titre"> Lycee Ait Yahia,Algerie </span><br/> Bacalaureat Serie Sciences Experimentales</p>

                   </div>
                  </div>
                   <div class= "section">
                              <h2>Centeres interets </h2>
                              <div class= "sec-gauche">
                             <p> Musique</p>
                             <p> Voyages<br/></p>
                             <p>Cuisine <br/></p>


                             </div>
                              <div class ="sec-droite">
                               <p><span class> pratique la guitare</span><br/></p>
                               <p><span class> Tunisie,Maroc ,Espagne,Almagne..</span><br/></p>
                               <p><span class> Lol</span><br/></p>


                         </div>
                        </div>

      </div>





{% endblock %}
