{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}


{% block body %}
<section class="projets">
{%for projet in projets %}
<projet>

<h2> {{projet.intitule}} </h2>
{#l'inerpolation se limite aux donnees primitifs #}
<div class="metatdata"> fait  le  {{projet.createdAt | date('d/m/y')}}  </div>
<div class="conent">
{#<img src="http:placehod.it/350x150 atl=""> #}
<p>{{ projet.Description | raw}}</p>
<a href="{{projet.lien}}"   class="btn btn-primary type = "submit"> consulter</a>

{# principe de route parametré :la focntion path pren le nom de la page et paramettre variable #}
<a href="{{ path ('projet',{'id':projet.id}) }}" class="btn btn-primary type ="submit">  Voir Description</a>
</div>
</projet>
</section>
{% endfor %}


{% endblock %}
