{% extends 'base.html.twig' %}
{% block body %}
<projet>
{#en ajoutant la variable article dans le tablea que j'ai passé à twig je sais que j'ai acces à cette variable ici#}
<h2> {{projet.intitule}} </h2>
    {#l'inerpolation se limite aux donnees primitifs #}
    <div class="metatdata"> fait  le  {{projet.createdAt | date('d/m/y')}}  </div>
        <div class="conent">
        {#<img src="http:placehod.it/350x150 atl=""> #}
        <p>{{ projet.Description | raw}}</p>
        <a href="https://gitlab.com/19941993/monprojetspringmvc" class="btn btn-primary type ="submit">  Voir gitLab </a>
    </div>
    </projet>

{% endblock %}
