<!DOCTYPE html>
<html>
{#si je veux que quelquechose soit dupliqué sur toutes mes pages c'est ici qu'il faut le mettre #}
{#les blocs ici se sont des emplacements que les autres pages pourront personnaliser #}
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">

    <head>
      <meta charset="UTF-8">
       <title>{% block title %}Welcome!{% endblock %}</title>


        {% block stylesheets %}{% endblock %}

    </head>
    <body>
    {{ encore_entry_link_tags('globalStyle') }}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{{path('acceuil')}}"> Tassadit</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <nav class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  <li class= "nav-item active">
                  {# les routes sont interpolé :meme si je change les urls dans le controlleur rien à changer ici#}
                                     <a class="nav-link" href="{{path('cv')}}"> Apropos de moi </a>
                                     </li>
                      <li class= "nav-item active">
                        <a class="nav-link" href="{{path('index')}}">Mes Realisations</a>
                      </li>
                      <li class= "nav-item active">
                       <a class="nav-link" href= "" >  Me laisser un commentaire </a>
                       </li>
                   </ul>
         </nav>
        </nav>
        <nav class="container">
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('globalJS') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
